/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --page-color: #fff1f7;
   --accent-color-oppacity: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --main-color: #ffc2e6;
    --page-color: #fff1f7;
    --accent-color-oppacity: #32312D66;
  }

  
}

